In [2]:
import pystan as ps
import pandas as pd
import numpy as np

In [10]:
low = np.random.normal(0.8,0.2,100)
med = np.random.normal(0.8,0.2,100)
high = np.random.normal(0.8,0.2,100)

In [9]:
df = pd.DataFrame({'Low': low,
                   'Med': med,
                   'High': high})

df_long = pd.melt(df, id_vars=['Subj'], value_vars=['B'],
        var_name='myVarname', value_name='myValname')

         Low        Med      High
0   0.798727 -10.119555  1.098036
1   0.925356 -10.119555  0.730145
2   0.694999 -10.119555  0.409902
3   0.868217 -10.119555  0.877650
4   0.190363 -10.119555  0.651179
..       ...        ...       ...
95  0.846943 -10.119555  0.553582
96  0.953591 -10.119555  0.835604
97  0.541752 -10.119555  1.085107
98  0.758064 -10.119555  0.784711
99  0.934980 -10.119555  0.926273

[100 rows x 3 columns]